.card {
  width: 500px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #eee;
}

h1 {
  color: orange;
  text-align: center;
}

img {
  max-width: 100%;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  padding: 10px 0px;
}

.ingredients {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: beige;
}
